[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/surajankush
[access "refs/for/refs/*"]
	read = group user/surajankush
	push = group user/surajankush
	label-Code-Review = -2..+2 group user/surajankush
	label-Verified = -1..+1 group user/surajankush
	rebase = group user/surajankush
	removeReviewer = group user/surajankush
	submit = group user/surajankush
[access "refs/heads/*"]
	read = group user/surajankush
	create = group user/surajankush
	push = +force group user/surajankush
	pushMerge = group user/surajankush
[access "refs/tags/*"]
	push = +force group user/surajankush
	pushTag = group user/surajankush
	pushSignedTag = group user/surajankush
